
<section>
    <div class="container">
       
        <table class="table mt-4" id="productsTable">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
        <th scope="col">Mobile</th>
      
      <th scope="col">City</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each hotels}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Name}}</td>
     <td>{{this.Mobile}}</td>
      <td>{{this.City}}</td>
   
    <td>
        <a href="/admin/add-hotel/{{this._id}}" class="btn btn-success">Register an account</a>
        <a href="/admin/delete-hotel/{{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{this.Name}} ? ')">Delete request</a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
    </div> 
</section>