<div style=" height: 100%; padding: 1px; background-color: rgb(235, 235, 235)">
    <div class="sidenav">
        <h1
            style="color: bla ck; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-left: 10px; margin-top: 5px;text-shadow: 2px 2px orange;">
            TRAVELIX</h1>
        <hr>
        {{#if admin}}
        <span style="margin-left: 10px; font-weight: bolder;">Welcome {{admin.Name}}</span>
        {{/if}}
        <div class="option">
            <a style="margin-top: 51px;" href="/admin">Home</a>
            <hr color="white">
            <a href="/admin/hotels">Hotels</a>
            <hr color="white">
            <a href="#clients">Users</a>
            <hr color="white">
            <a href="/admin/booking">Bookings</a>
            <hr color="white">
            <a href="/admin/cities">Cities</a>
            <hr color="white">

            <a class="nav-link" href="/admin/requests">Hotel requests<span class="badge badge-danger"
                    id="cart-count">{{reqCount}}</span></a>
            <hr color="white">
        </div>
        <a style="color: crimson;" href='/admin/logout'>Logout</a>
        <hr color="white">

    </div>

    {{#each rating}}
           <div style="background-color: rgb(240, 240, 240);;  border-radius: 25px;margin-left: 290px;  margin-top: 30px; width: 900px; " class="card1  flex-row flex-wrap">
            <div class="card-header border-0">
              Rating out of 5:
              {{#if rate1}}
             <i class="fas fa-star"></i>
              {{/if}}
               {{#if rate2}}
            <i class="fas fa-star"></i><i class="fas fa-star"></i>
              {{/if}}
               {{#if rate3}}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              {{/if}}
               {{#if rate4}}
           <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              {{/if}}
               {{#if rate5}}
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
              {{/if}}

            </div>
            <div style="margin-left: 25px; margin-top: 20px; overflow:hidden; min-height:100px" class="card-block px-2">
                <h4 style="font-weight: bold; " class="card-title"><span style="color: gray;">By:  </span>{{this.username}}</h4>
                <p style="font-weight: bold;" class="card-text">{{this.Reason}}</p>
  
                
         <a href="/admin/deleterating/{{_id}}" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete {{this.Name}} ? ')">Delete rating
                </a>
            </div>
           
            <div class="w-100"></div>

        </div>
{{/each}}

    <style>
        .zoom {

            transition: transform .2s;
            /* Animation */

        }

        .zoom:hover {
            transform: scale(1.1);
            /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }

        .option:hover li:hover a {
            opacity: 0.6;
        }

        .option:hover li:hover a:hover {
            opacity: 1;
        }



        .main {

            margin-left: 340px;
            margin-top: 50px;

        }

        .sidenav {

            height: 100%;
            width: 260px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #f7ca28;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {

            padding: 1px 12px 1px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block;
        }

        .sidenav a:hover {
            color: white;

        }





        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>