

<div class="container-fluid" style="padding: 0px;">
    <nav style=" background-color: rgba(255, 255, 255, 0); font-family: cursive; position: fixed; width: 100% ;z-index: 1; "
      class="navbar navbar-expand-lg navbar-light ">
      <a style="font-weight: bolder; color: white; font-size: 40px;" class="navbar-brand" href="/">Travelix</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color: white; margin-left: 30px  ;" class="nav-link" href="#city"> <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="#"></a>
          </li>
          <div style="margin-left: 740px; ">
            <li class="nav-item dropdown">

              {{#if gUser}}


              <a style="color: white; font-size: x-large; " class="nav-link dropdown-toggle " href="#"
                id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{name}}
                <img class="rounded-circle" src="{{pic}}" width="45" height="45" alt="">
                <div
                  style=" background-color:#22def78e; width:240px ; height: 250px; padding: 10px; margin-left: -100px;"
                  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">



                  <a class="dropdown-item" href="/googleLogout">Logout</a>
                  <hr>
                  <a class="dropdown-item" href="">Recent bookings</a>
                </div>
                {{else if user}}
                <a style="color: white; font-size: x-large;" class="nav-link dropdown-toggle " href="#"
                  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{userName.Name}}
                </a>
                <div
                  style=" background-color:#22def78e; width:240px ; height: 180px; padding: 10px; margin-left: -100px;"
                  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/updateProfile/{{user._id}}">Update profile</a>
                  <hr>
                  <a class="dropdown-item" href="/userLogout">Logout</a>
                  <hr>
                  <a class="dropdown-item" href="">Recent bookings</a>
                </div>
                {{else}}
                {{!-- <a style="color: white;" class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LOGIN/SIGNUP
                </a> --}}
                <div
                  style=" background-color:#22def78e; width:240px ; height: 180px; padding: 10px; margin-left: -100px;"
                  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/userLogin">User</a>
                  <hr>
                  <a class="dropdown-item" href="/hotel/Login">Hotel</a>
                  <hr>
                  <a class="dropdown-item" href="/admin/Login">Admin</a>
                </div>
                {{/if}}


            </li>
          </div>
        </ul>
        <hr>
      </div>

    </nav>
    <div class="row" style="background-color:rgb(0, 156, 177);">
      
       <h2 style="font-weight: bolder; margin-left: 170px; margin-top: 80px;">See what we got in {{city}}</h2> 
      
        {{#each hotels}}
        <a href="/rooms/{{this._id}}">
        <div  class="card zoom flex-row flex-wrap">
            <div style="margin-left: 50px;" class="card-header border-0">
                <img src="/room-images/{{this._id}}.jpg" width="350px" height="200px""">
            </div>
            <div class="card-block px-2">
                <h4 style="font-weight: bolder; font-size: xx-large;" class="card-title">{{this.Name}}</h4>
                <p style="font-weight: bold; color: rgb(97, 97, 97);" class="card-text">{{this.Description}}</p>
             
            </div>
            <div class="w-100"></div>

        </div>
        </a>
        {{/each}}
    </div>
</div>
<script>
  $(window).scroll(function () {
if ($(window).scrollTop() >= 50) {
$('.navbar').css('background','#111');
} else {
$('.navbar').css('background','transparent');
}
});
</script>
<style>.a { color: inherit; } 
.zoom {
 
  
  transition: transform .2s; /* Animation */


  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
    .card{
        color: inherit;
        margin-left: 150px;
        margin-top: 30px;
        float: left;
        width: 900px;
        text-decoration:none ;
        border-radius: 25px; 
        padding-bottom: 20px;
    }
    .card:hover{
        background-color: rgb(122, 177, 248);

    }
    .card-block{
        margin-left: 30px;
        margin-top:30px ;
    }
    a {
    color: #000000;
    text-decoration: none;
}

a:hover 
{
     color:#000000; 
     text-decoration:none; 
     cursor:pointer;  
}

</style>