<div style="background-color: rgb(255, 255, 255);">
  <div class="image">
    
    <nav
      style=" background-color: rgba(255, 255, 255, 0); font-family: cursive; position: fixed; width: 100% ;z-index: 1; "
      class="navbar navbar-expand-lg navbar-light ">
      <a style="font-weight: bolder; color: white; font-size: 40px;" class="navbar-brand" href="#">Travelix</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul  class="navbar-nav">
        <div style="margin-top: 10px;">
   <a style="color: white; margin-left: 30px  ;" class="nav-link" href="#city">Cities <span
                class="sr-only">(current)</span></a>
        </div>
        
          <li class="nav-item">
              <li class="nav-item active">
            <a style="color: white;" class="nav-link" href="#"></a>
           
          </li>
          </li>
            {{#if gUser}}
            
          <li class="nav-item active">
            <div style="margin-top: 10px; width: 120px;">
 <a style="color: white;" class="nav-link" href="/booking">My booking</a>
            </div>
           
           
          </li>
          </li>
          {{/if}}
            {{#if user}}
       
          <li class="nav-item active">
            <div style="margin-top: 10px; width: 120px;">
 <a style="color: white;" class="nav-link" href="/booking">My booking</a>
            </div>
           
           
          </li>
          </li>
          {{/if}}
          <div style="margin-left: 680px; ">
            <li class="nav-item dropdown">

              {{#if gUser}}


              <a style="color: white; font-size: x-large; " class="nav-link dropdown-toggle " href="#"
                id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{name}}
                <img class="rounded-circle" src="{{pic}}" width="45" height="45" alt="">
                <div
                  style=" background-color:#22def78e; width:240px ; height: 180px; padding: 10px; margin-left: -100px;"
                  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">



                  <a class="dropdown-item" href="/googleLogout">Logout</a>
                  <hr>
                  <a class="dropdown-item" href="">Recent bookings</a>
                </div>
                {{else if user}}
                <a style="color: white; font-size: x-large;" class="nav-link dropdown-toggle " href="#"
                  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{userName.Name}}
                </a>
                <div
                  style=" background-color:#22def78e; width:240px ; height: 180px; padding: 10px; margin-left: -100px;"
                  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/updateProfile/{{user._id}}">Update profile</a>
                  <hr>
                  <a class="dropdown-item" href="/userLogout">Logout</a>
                  <hr>
                  <a class="dropdown-item" href="">Recent bookings</a>
                </div>
                {{else}}
                <a style="color: white;" class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  LOGIN/SIGNUP
                </a>
                <div
                  style=" background-color:#22def78e; width:240px ; height: 180px; padding: 10px; margin-left: -100px;"
                  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                  <a class="dropdown-item" href="/userLogin">User</a>
                  <hr>
                  <a class="dropdown-item" href="/hotel/Login">Hotel</a>
                  <hr>
                  <a class="dropdown-item" href="/admin/Login">Admin</a>
                </div>
                {{/if}}


            </li>
          </div>
        </ul>
        <hr>
      </div>

    </nav>

<div class="container" style="margin-left: 440px; padding-top: 390px; width: 600px;">
  <form action="/search" method="POST">
    <input style="font-size: x-large; height: 60px;  width: 330px; border: 2px solid blue;border-radius: 4px; float: left;" type="text" id="myFilter"
      class="form-control" name="City" placeholder="Where do you wanna stay?">
    

  
  <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>

  </form>
</div>

  </div>

  <hr id="city">



  <script>
    let today = new Date();
let tomorrow = new Date();

tomorrow.setDate(today.getDate() + 1);
    document.getElementById('datePicker1').valueAsDate = today;
      document.getElementById('datePicker').valueAsDate = tomorrow;
    function increment() {
      document.getElementById('demoInput').stepUp();
    }
    function decrement() {
      document.getElementById('demoInput').stepDown();
    }
  </script>
  <h2 style="font-weight: bolder; margin-left: 200px;"></h2>
  <div id="myItems">
    {{#each cities}}

    <div style="margin-left: 200px; width: 300px; float: left; margin-top: 60px;" class="card  text-white">
      <a href="/city/{{this.Name}}">
        <img style="width: 300px; height: 200px;" class="card-img" src="/room-images/{{this._id}}.jpg" alt="Card image">
        <div style="margin-top: 50px;  display: flex;
  align-items: center;" class="card-img-overlay">
          <h2 style="font-weight: bolder; font-family: Comic Sans MS;" class="card-title"><i>{{this.Name}}</i></h1>

        </div>
    </div>
    </a>

    {{/each}}
  </div>

</div>
<script>
  $(window).scroll(function () {
    if ($(window).scrollTop() >= 50) {
      $('.navbar').css('background', '#111');
    } else {
      $('.navbar').css('background', 'transparent');
    }
  });

  function myFunction() {
    var input, filter, cards, cardContainer, h5, title, i;
    input = document.getElementById("myFilter");
    filter = input.value.toUpperCase();
    cardContainer = document.getElementById("myItems");
    cards = cardContainer.getElementsByClassName("card");
    for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelector(" h2.card-title");
      if (title.innerText.toUpperCase().indexOf(filter) > -1) {
        cards[i].style.display = "";
      } else {
        cards[i].style.display = "none";
      }
    }
  }

</script>
<style>
  .searchButton {
  width: 50px;
 height: 57px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
  a {
    color: inherit;
  }

  .box {
    color: #111;
    float: left;
    width: 300px;
    margin-top: 60px;
    margin-left: 210px;
    border: 2px solid rgb(201, 199, 199);
    padding: 10px;
    border-radius: 25px;
    padding-left: 40px;
  }

  .boxFirst {}



  .Places {}

  a:hover {
    text-decoration: none;

  }

  .dropdown-item {

    font-size: larger;
    padding: 1px;

  }

  .image {

    background: url(/images/citybg.jpg);

    height: 500px;
    background-position: center;
    background-repeat: no-repeat;

    background-size: cover;

  }
</style>